VPN_SERVER_URL=
CLIENT_NAME=my-client
VPN_PROTO=udp
VPN_PORT=53211
VPN_DNS=1.1.1.1

# WireGuard
WG_PEERS=1
WG_DNS=1.1.1.1
WG_SUBNET=10.13.13.0
WG_ALLOWED_IPS=0.0.0.0/0
TZ=UTC

# FTP upload
FTP_HOST=
FTP_USER=
FTP_PASS=
FTP_PATH=/vpn
